@import url("fontawesome-all.min.css");

html, body, div, span, h1, h2, h3, h4, h5, h6, p,
a, img, strong, ul, li, label, caption, article,
details, figure, footer, header, menu, nav
section, summary {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}

footer, header, hgroup, menu, nav, section {
	display: block;}

body {
	line-height: 1;
}

ul {
	list-style: none;
}

body {
	-webkit-text-size-adjust: none;
}

/* Basic */

	html {
		box-sizing: border-box;
	}

	*, *:before, *:after {
		box-sizing: inherit;
	}

	body {
		background: rgb(0, 0, 0);
	}

		body.is-preload *, body.is-preload *:before, body.is-preload *:after {
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
		}

	body, input, select, textarea {
		color: #fff;
		/* font-family: "Lato", sans-serif; */
		font-family: "Courier Prime", monospace;
		font-size: 16pt;
		font-weight: 400;
		line-height: 1.75em;
	}

	a {
		-moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
		-webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
		-ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
		transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
		color: inherit;
		text-decoration: none;
	}

		a:hover {
			color: rgba(219,220,224,1);
		}

	strong, b {
		color: #777;
		font-weight: 700;
	}

	p {
		margin: 0 0 2.25em 0;
	}

	h1, h2, h3, h4, h5, h6 {
		color: rgba(219,220,224,1);
		font-weight: 700;
		line-height: 1em;
		margin: 0 0 0.5625em 0;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			border: 0;
			color: inherit;
			text-decoration: none;
		}

	h2 {
		font-size: 2em;
		line-height: 1.5em;
	}

	h3 {
		font-size: 1.75em;
		line-height: 1.5em;
	}

	h4 {
		font-size: 1.25em;
		line-height: 1.5em;
	}

	h5 {
		font-size: 0.9em;
		line-height: 1.5em;
	}

	h6 {
		font-size: 0.7em;
		line-height: 1.5em;
	}

	hr {
		border: 0;
		border-bottom: solid 2px #f4f4f4;
		margin: 2.25em 0;
	}

		hr.major {
			margin: 3.375em 0;
		}
		
	/* Highlighter Off */
	.noSelect {
		-webkit-tap-highlight-color: transparent;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

/* Container */

	.container {
		margin: 0 auto;
		max-width: calc(100% - 4.5em);
		width: 45em;
	}

		@media screen and (max-width: 1024px) {

			.container {
				width: 100% !important;
			}

		}
		
			.container > .footer {
				text-align: center;
				font-size: small;
			}

		@media screen and (max-width: 480px) {

			.container {
				max-width: calc(100% - 3.375em);
			}

			.container > .footer {
					font-size: x-small;
				}

		}

/* Section/Article */

	section.special, article.special {
		text-align: center;
	}

	header p {
		color: #aaa;
		position: relative;
		margin: 0 0 1.6875em 0;
	}

	.typing {
		color: #364050;
		font-size: 1em;
		position: relative;
		margin: 0 0 1.6875em 0.25em;
		position: relative;
	}

		.typing:after {
			content: "";
			position: absolute;
			width: 1px;
			height: 1.2em;
			right: -0.1em;
			border-right: 2px solid #fff;
			animation: blink 1s infinite ease;
		}
	
	@-moz-keyframes blink {
		0% {opacity: 0;}
		100% {opacity: 1;}
	}

	@-webkit-keyframes blink {
		0% {opacity: 0;}
		100% {opacity: 1;}
	}

	@-ms-keyframes blink {
		0% {opacity: 0;}
		100% {opacity: 1;}
	}

	@keyframes blink {
		0% {opacity: 0;}
		100% {opacity: 1;}
	}

	header h2 + p {
		font-size: 1.25em;
		margin-top: -0.5em;
		line-height: 1.5em;
	}

	header h3 + p {
		font-size: 1.1em;
		margin-top: -0.35em;
		line-height: 1.5em;
	}

	header h4 + p,
	header h5 + p,
	header h6 + p {
		font-size: 0.9em;
		margin-top: -0.25em;
		line-height: 1.5em;
	}

	header br {
		display: none;
	}
	
	header.major h2 {
		padding-top: 30vh;
		color: #ffffff;
		font-size: 3.5em;
	}

		header.major h2 + p {
			color: #364050;
			font-size: 1.75em;
			font-weight: 700;
			margin-top: -0.75em;
		}

/* Icon */

	.icon {
		text-decoration: none;
		border-bottom: none;
		position: relative;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			display: inline-block;
			font-style: normal;
			font-variant: normal;
			text-rendering: auto;
			line-height: 1;
			text-transform: none !important;
			font-family: 'Font Awesome 5 Free';
			font-weight: 400;
		}

		.icon > .label {
			display: none;
		}

		.icon:before {
			line-height: inherit;
		}

		.icon.solid:before {
			font-weight: 900;
		}

		.icon.brands:before {
			font-family: 'Font Awesome 5 Brands';
		}

/* Image */

	.image {
		border-radius: 5px;
		border: 0;
		display: inline-block;
		position: relative;
		outline-style: none;
	}

		.image img {
			border-radius: 5px;
			display: block;
		}

		.image.avatar {
			border-radius: 100%;
			overflow: hidden;
		}

			.image.avatar img {
				border-radius: 100%;
				display: block;
				width: 100%;
			}

/* List */

	ul {
		list-style: disc;
		margin: 0 0 2.25em 0;
		padding-left: 1em;
	}

		ul li {
			padding-left: 0.5em;
		}

		ul.alt {
			list-style: none;
			padding-left: 0;
		}

			ul.alt li {
				border-top: solid 2px #f4f4f4;
				padding: 0.5em 0;
			}

				ul.alt li:first-child {
					border-top: 0;
					padding-top: 0;
				}

/* Icons */

	ul.icons {
		cursor: default;
		list-style: none;
		padding-left: 0;
	}

		ul.icons li {
			display: inline-block;
			padding: 0 1em 0 0;
		}

			ul.icons li:last-child {
				padding-right: 0 !important;
			}

			ul.icons li .icon:before {
				font-size: 1.25em;
			}

/* Features */

	.features article {
		border-top: solid 2px #364050;
		margin-bottom: 2.25em;
		padding-top: 2.25em;
	}

		.features article:first-child {
			border-top: 0;
			padding-top: 0;
		}

		.features article .image {
			display: inline-block;
			padding-right: 2.5em;
			vertical-align: middle;
			width: 48%;
		}

			.features article .image img {
				display: block;
				width: 100%;
			}

		.features article .inner {
			display: inline-block;
			vertical-align: middle;
			width: 50%;
		}

			.features article .inner > :last-child {
				margin-bottom: 0;
			}
		
		.features article .inner a {
			-moz-flex-grow: 1;
			-webkit-flex-grow: 1;
			-ms-flex-grow: 1;
			display: inline-block;
			flex-grow: 1;
			outline: none;
		}
			.features article .inner img {
				height: 30px;
			}	

			.features article .inner a:hover {
				-webkit-filter: invert(1);
				filter: invert(1);
			}

	.library > details > summary {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		cursor: pointer;
		background: #364050;
		padding: 1em 1em 1em 1em;
		border-radius: 0.5em;
		outline: none;
		list-style: none;
	}
		.library > details > summary:hover {
			background-color: rgba(255, 255, 255, 0.1);
		}

		.library > details > summary::marker {
			display: none;
		}

		.library > details > summary::-webkit-details-marker {
			display: none;
		}

	.library > details > a {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 1em 1vw 0em 1vw;
		padding: 1em 1em 1em 1em;
		border-radius: 0.5em;
		-webkit-tap-highlight-color: transparent;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		outline: none;
	}

	.library > details > a:hover {
		background-color: rgba(255, 255, 255, 0.1);
	}

	.library > details > a > desc {
		color: black;
	}

	.library > details > a > imglink > img {
		height: 1.2em;
		width: auto;
	}

/* Header */

	#header {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-moz-justify-content: space-between;
		-webkit-justify-content: space-between;
		-ms-justify-content: space-between;
		justify-content: space-between;
		color: rgba(255, 255, 255, 0.55);
		background: #364050 url("images/bg01.png");
		height: 100%;
		overflow-y: auto;
		position: fixed;
		text-align: center;
		top: 0;
		width: 23em;
		right: 0;
	}

		#header h1, #header h2, #header h3, #header h4, #header h5, #header h6 {
			color: #ffffff;
		}

			#header h1 a, #header h2 a, #header h3 a, #header h4 a, #header h5 a, #header h6 a {
				color: #ffffff;
			}

		#header header p {
			color: #ffffff;
		}

		#header a {
			color: #ffffff;
		}

		#header > header {
			-moz-flex-shrink: 0;
			-webkit-flex-shrink: 0;
			-ms-flex-shrink: 0;
			flex-shrink: 0;
			padding: 3em;
			
		}

			#header > header .avatar {
				display: block;
				margin: 0 auto 2.25em auto;
				width: 8em;
			}

			#header > header h1 {
				font-size: 1.75em;
				margin: 0;
			}

			#header > header p {
				color: #ffffff;
				margin: 1em 0 0 0;
			}

		#header > footer {
			-moz-flex-shrink: 0;
			-webkit-flex-shrink: 0;
			-ms-flex-shrink: 0;
			flex-shrink: 0;
			bottom: 0;
			left: 0;
			padding: 2em;
			width: 100%;
		}

			#header > footer .icons {
				margin: 0;
			}

				#header > footer .icons li a {
					color: #ffffff;
					outline-style: none;

				}
					#header > footer .icons li a:before {
						-moz-transition: all 0.2s ease-in-out;
						-webkit-transition: all 0.2s ease-in-out;
						-ms-transition: all 0.2s ease-in-out;
						transition: all 0.2s ease-in-out;
						border-radius: 100%;
						border: solid 1px #fff;
						height: 2.5em;
						line-height: 2.5em;
						width: 2.5em;
					}

					#header > footer .icons a:hover {
						color: rgba(255, 255, 255, 0.1);
					}
						#header nav a:hover:before {
							background-color: rgba(255, 255, 255, 0.175);
							color: #fff;
						}

					#header > footer .icons a:active {
						font-size: 0.95em;
						background: none;
					}
	
						#header > footer .icons a:active:before {
							background-color: rgba(255, 255, 255, 0.35);
							color: #fff;
						}
	
					#header > footer .icons a span {
						display: none;
					}

		#header > nav {
			-moz-flex-grow: 1;
			-webkit-flex-grow: 1;
			-ms-flex-grow: 1;
			flex-grow: 1;
		}

			#header > nav ul {
				list-style: none;
				margin: 0;
				padding: 0;
			}

				#header > nav ul li {
					display: block;
					padding: 0 5.5em 0 5.5em;
				}

					#header > nav ul li a {
						display: block;
						padding: 0.4em 1em 0.4em 1em;
						text-decoration: none;
						border-radius: 0.4em;
						color: #ffffff;
						outline: 0;
						-moz-transition: background-color .25s ease-in-out, color .25s ease-in-out;
						-webkit-transition: background-color .25s ease-in-out, color .25s ease-in-out;
						-ms-transition: background-color .25s ease-in-out, color .25s ease-in-out;
						transition: background-color .25s ease-in-out, color .25s ease-in-out;
					}
						
						#header nav ul li a img {
							-webkit-filter: invert(1);
							filter: invert(1);
						}
						
						#header nav ul li a:hover {
							background-color: rgba(255, 255, 255, 0.1);
							color: #fff;
						}

						#header > nav ul li a.active {
							background-color: rgba(0, 0, 0, 0.15) !important;
							box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 0 0.25em 0 rgba(0, 0, 0, 0.25);
							color: #fff;
						}

					#header > nav ul li:first-child {
						border-top: 0;
					}

/* Wrapper */

	#wrapper {
		background: rgb(219,220,224);
		background: -moz-linear-gradient(180deg, rgba(219,220,224,1) 0%, rgba(183,186,193,1) 20%, rgba(149,154,163,1) 40%, rgba(116,122,134,1) 60%, rgba(84,92,107,1) 80%, rgba(54,64,80,1) 100%);
		background: -webkit-linear-gradient(180deg, rgba(219,220,224,1) 0%, rgba(183,186,193,1) 20%, rgba(149,154,163,1) 40%, rgba(116,122,134,1) 60%, rgba(84,92,107,1) 80%, rgba(54,64,80,1) 100%);
		background: linear-gradient(180deg, rgba(219,220,224,1) 0%, rgba(183,186,193,1) 20%, rgba(149,154,163,1) 40%, rgba(116,122,134,1) 60%, rgba(84,92,107,1) 80%, rgba(54,64,80,1) 100%);
		padding-right: 23em;
	}

/* Main */

	#main > section {
		border-top: solid 3px #364050;
		margin: 0 3em 0 3em;
	}

		#main > section > .container {
			padding: 6em 0 4em 0;
		}

		#main > section:first-child {
			border-top: 0;
			height: 95vh;
		}

/* XLarge */

	@media screen and (max-width: 1680px) {

		/* Basic */

			body, input, select, textarea {
				font-size: 13pt;
			}

		/* Header */

			#header {
				width: 21em;
			}

				#header > header {
					padding: 2em;
				}

				#header > nav ul li {
					padding: 0 5em 0 5em;
				}

				#header > footer {
					padding: 1.5em;
				}

		/* Wrapper */

			#wrapper {
				padding-right: 21em;
			}

		/* Main */

			#main > section > .container {
				padding: 4em 0 2em 0;
			}

	}

/* Large */

	@media screen and (max-width: 1280px) {

		/* Basic */

			body, input, select, textarea {
				font-size: 11pt;
			}

		/* Header */

			#header {
				width: 20em;
			}

		/* Wrapper */

			#wrapper {
				padding-right: 20em;
			}

	}

/* Medium */

	#menuToggle {
		display: none;
	}

	@media screen and (max-width: 1024px) {

		/* Basic */

			html, body {
				overflow-x: hidden;
			}

			body, input, select, textarea {
				font-size: 12pt;
			}

		/* Image */

			.image.left, .image.right {
				max-width: 40%;
			}

				.image.left img, .image.right img {
					width: 100%;
				}

			.image.main {
				height: 20em;
			}

		/* Header */

			#header {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				display: block;
				height: 100%;
				overflow-y: auto;
				position: fixed;
				top: 0;
				width: 23em;
				z-index: 10002;
				-moz-transform: translateX(23em);
				-webkit-transform: translateX(23em);
				-ms-transform: translateX(23em);
				transform: translateX(23em);
				right: 0;
			}
				#header > nav ul li {
					padding: 0 5.5em 0 5.5em;
				}

				#header > footer {
					bottom: auto;
					left: auto;
					margin: 0.5em 0 0 0;
					position: relative;
					right: auto;
					top: auto;
				}

		/* Wrapper */

			#wrapper {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				padding: 0 0 1px 0;
			}

		/* Header Panel */

			#menuToggle {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				display: block;
				height: 44px;
				left: 0;
				position: fixed;
				top: 10em;
				width: 100%;
				z-index: 10001;
				background: transparent;
				min-width: 320px;
			}
				#menuToggle .toggle {
					text-decoration: none;
					height: 4em;
					position: absolute;
					top: 0;
					width: 6em;
					border: 0;
					outline: 0;
					right: 0;
				}

					#menuToggle .toggle:before {
						-moz-osx-font-smoothing: grayscale;
						-webkit-font-smoothing: antialiased;
						display: inline-block;
						font-style: normal;
						font-variant: normal;
						text-rendering: auto;
						line-height: 1;
						text-transform: none !important;
						font-family: 'Font Awesome 5 Free';
						font-weight: 900;
					}

					#menuToggle .toggle:before {
						color: #ffffff;
						background: #364050 url("images/bg01.png");
						content: '\f0c9';
						display: block;
						border-top-left-radius: 0.4em;
						border-bottom-left-radius: 0.4em;
						font-size: 18px;
						height: 64px;
						line-height: 64px;
						position: absolute;
						text-align: center;
						top: 64px;
						width: 64px;
						right: 0;
					}

					#menuToggle .toggle::after {
						display: none;
					}

			body.header-visible #wrapper, body.header-visible #menuToggle {
				-moz-transform: translateX(-23em);
				-webkit-transform: translateX(-23em);
				-ms-transform: translateX(-23em);
				transform: translateX(-23em);
			}

			body.header-visible #header {
				-moz-transform: translateX(0);
				-webkit-transform: translateX(0);
				-ms-transform: translateX(0);
				transform: translateX(0);
			}

	}

/* Small */

	@media screen and (max-width: 736px) {

		/* Basic */

			body {
				font-size: 12pt;
			}

			h1 br, h2 br, h3 br, h4 br, h5 br, h6 br {
				display: none;
			}

			h2 {
				font-size: 1.75em;
			}

			h3 {
				font-size: 1.5em;
			}

			h4 {
				font-size: 1em;
			}

		/* Section/Article */
			
			header.major h2 {
				font-size: 2.4em;
			}

				header.major h2 + p {
					font-size: 1.5em;
				}

		/* Features */

			.features article .image {
				display: block;
				margin: 0 0 2.25em 0;
				padding-right: 0;
				width: 100%;
			}

			.features article .inner {
				display: block;
				width: 100%;
				text-align: center;
			}

			.library > details > a {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
			}

			.library > details > a > imglink {
				align-self: end;
			}

		/* Header */

			#header {
				width: 17em;
				-moz-transform: translateX(17em);
				-webkit-transform: translateX(17em);
				-ms-transform: translateX(17em);
				transform: translateX(17em);
				right: 0;
			}

				#header > header {
					padding: 2em;
				}

					#header > header .avatar {
						margin: 0 auto 1.6875em auto;
						width: 6em;
					}

					#header > header h1 {
						font-size: 1.5em;
					}

					#header > header p {
						margin: 1em 0 0 0;
					}

					#header > nav ul li {
						padding: 0 2.5em 0 2.5em;
					}

				#header > footer {
					padding: 1.5em;
				}

		/* Main */

			#main > section > .container {
				padding: 2em 0 0 0;
			}

		/* Header Panel */

			#menuToggle .toggle {
				height: 4em;
				width: 6em;
			}

				#menuToggle .toggle:before {
					font-size: 14px;
					width: 44px;
				}

			body.header-visible #wrapper, body.header-visible #menuToggle {
				-moz-transform: translateX(-17em);
				-webkit-transform: translateX(-17em);
				-ms-transform: translateX(-17em);
				transform: translateX(-17em);
			}
	}

/* XSmall */

	@media screen and (max-width: 460px) {

		/* Basic */

			html, body {
				min-width: 320px;
			}

			body {
				font-size: 12pt;
			}


			#header > nav ul li {
				padding: 0 2.5em 0 2.5em;
			}

		/* Section/Article */

		header.major h2 {
			font-size: 2em;
		}

			header.major h2 + p {
				font-size: 1em;
			}
		
		header br {
			display: inline;
		}

		.library:first-child > details > summary {
			flex-direction: row-reverse;
		}

		.typing {
			margin-left: 0;
		}

			.typing:before {
				margin-left: -0.25em;
				content: "\00a0";
			}

	}
